@import url(./global.css);

.page {
  display: flex;
  margin: 0 1.25rem;
  padding: 0 1.25rem;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.container-esquerda {
  width: 40%;
}

.corpo-img {
  padding: 0.62rem;
  background-color: transparent;
}

.corpo-img :hover {
  transform: scale(1.01);
  transition: 0.3s
}


.container-esquerda img {
  height: auto;
  width: 100%;
  border-radius: 0.62rem;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
}

.container-direita {
  display: flex;
  flex-direction: column;
  width: 55%;
}

section h2 {
  font-size: 0.87rem;
  color: #666;
  margin: 0.62rem 0.62rem;
}

.formCadastro {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.87rem;
  box-shadow: 0.62rem 0.62rem 2.5rem rgba(0, 0, 0, 0.4);
  gap: 0.3rem;
}

.formCadastro div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.62rem;
}

.formCadastro label,
p {
  font-size: 0.87rem;
  font-weight: 600;
  text-align: start;
}

.formCadastro section {
  text-align: start;
}

.formCadastro input {
  padding: 0.62rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  transition: all linear 160ms;
  outline: none;
}

.btn {
  padding: 0.93rem;
  border: 1px solid #ccc;
  margin-bottom: 1.25rem;
  margin-top: 0.3rem;
  border-radius: 0.5rem;
  outline: none;
  background-color: #7CC92A;
  color: #fff;
  font-size: 0.87rem;
  font-weight: 600;
  transition: all linear 160ms;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  transform: scale(1.05);  
}

/* ---------- Estilos dinâmicos ---------- */

.formCadastro input:focus {
  border: 0.13rem solid #EA167B; /* Cor de destaque */
  box-shadow: 0 0 0.1rem rgba(234, 22, 123, 0.5); /* Sombra suave */
  transition: all 0.3s ease-in-out; /* Transição suave */
}

input.error {
  border: solid 0.13rem #992020;
  background-color: #CCBBBB;
  color: #662020;
}

input.correct {
  background-color: #BBCCBB;
  border: solid 0.13rem #7CC92A;
  color: #107010;
}

.visible {
  display: block;
}

@media screen and (max-width: 50rem) {

  .titulo {
    width: 80%;
    font-size: 0.87rem;
  }
  .page {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .container-esquerda,
  .container-direita {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}