* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  a:hover {
    cursor: pointer;
  }
  
  .container {
    max-width: 1400px; /* Defina a largura máxima desejada */
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  }
  
  
  /* Começo do Css do Header */
  
  header {
    padding: 15px 0;
    margin: 20px 10px;
    text-align: center;
    color: rgb(14, 14, 14);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 100%;
  }
  
  #logo {
    width: 20%;
    
  }
  
  .menu-container > ul {
    display: flex;
    gap: 10px; 
    
  }
  
  .menu li {
    margin: 10px;
    padding: 10px;
    transition: opacity 0.3s ease; 
    list-style: none;
  }
  
  .menu a {
    font-size: 18px ;
    font-weight: bolder;
    color: #7CC92A;
  }
  
  .menu a:hover {
    transition: opacity 0.3s;
    color: #EA167B;
  }
  
  
  /* Fim do Css do Header */
  .container-banner {
    display: flex;
    flex-direction: column;
    margin: auto; 
    width: 95%;
    height: 320px;  
    position: relative;
  }
  
  section {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .banner {
    width: 100%;
    height: 85%;  
  }
  
  .banner img {
    width: 100%; 
    height: 100%; 
    border-radius: 5px;   
  }

  /* Fim container Banner */

  .container-principal {
    display: flex;
  }

  /* Começo do footer  */

footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    background: #E7E6E6; 
  }
  
  .limite-largura {
  width: 95%;
  display: flex;
  justify-content: space-around;
  }
  
  .rodape-conteudo {
    width: 50%;   
  }
  
  .rodape-info > ul > li{
    margin-bottom: 5px;
    list-style: none;
  }
  
  .rodape-logo > img {
    width: 55%;  
    height: 120px;
    margin-bottom: 10px;
  }
  
  .rodape-conteudo {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
  }
  
  .rodape-midias > h3 {
    font-weight: 300; 
  }
  
  .rodape-midias > ul {  
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .rodape-midias img {
    height: 3.5rem;
  }
  
  .rodape-badges > ul {
    list-style: none;
    display: flex;
    justify-content: center; 
  }
  
  .rodape-badges img {
    height: 5rem;
  }