@import url(./global.css);

main { 
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
}

section div {
  padding: 0 0.62rem;
  margin: 1.25rem auto;
  display: flex;
  flex-direction: column;
  
}

section div img {
  width: 18.75rem;
  height: auto;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
}

.btn {
  padding: 0.93rem;
  border: 1px solid #ccc;
  margin: 1.25rem;
  border-radius: 0.5rem;
  outline: none;
  background: #d436a4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6e1144, #9a357c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cb0a74, #a73785); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  color: #fff;
  font-size: 1.12rem;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 0 !important;
}

.btn:hover {
  transform: scale(1.03);
  transition: 0.3s;
  background: #f953c6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b12d76, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.btn-cadastrar {
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1ccf61, #115d56);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1dbc5a, #096059); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    padding: 0.93rem;
  margin: 1.25rem;
  border-radius: 0.5rem;
  outline: none;
  color: #fff;
  font-size: 1.12rem;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 0 !important;
}

.btn-cadastrar:hover {
  transform: scale(1.03);
  transition: 0.3s;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
} 


@media screen and (max-width: 50rem) { 

  main {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
