@import url(./global.css);
@import url(./cadastro-doadores.css);

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin-bottom: 5em;
}

.formDoar {
  /* background-color: #f7f7f7; */
  border-radius: 0.62rem;
  box-shadow: 0 0 0.62rem rgba(0, 0, 0, 0.5);
  padding: 1.25rem;
  width: 400px;
}

.formDoar h2 {
  color: #333;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 1.25rem;
  padding: 0.62rem 1.25rem;
}

.formDoar div {
  margin-bottom: 0.93rem;
}

.formDoar label {
  display: block;
  font-size: 0.9em;
  margin-bottom: 0.3rem;
  text-align: start;
  font-weight: bold;
}

.formDoar select,
.formDoar input[type="number"],
.formDoar input[type="date"],
.formDoar textarea {
  width: 100%;
  padding: 0.62rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  font-size: 1em;
}

.formDoar textarea {
  resize: vertical;
}

.btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 0.62rem;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 100%;
  font-size: 1em;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #45a049;
}

.confirmar-doacao {
  background: #f953c6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.confirmar-doacao:hover {
  background: #d436a4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6e1144, #9a357c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #970a57, #a73785); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
