* {
  padding: 0;
  margin: 0;  
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  align-items: center;  
  font-family: 'Poppins', sans-serif;
  font-size: 0.87rem;
}

.nav-bar {
  width: 100%;
  /* max-width: 1400px; */
  margin: 0 auto;  
}

/* Modo escuto */
.alterarTema button {
  background-color: transparent;
}

.modo-claro {
  background-color: #fff;
  color: #000;
}

.modo-escuro {
  background-color: #3b3b3b;
  color: #fff;  
}

.modo-escuro aside ul a {
  background-color: #3b3b3b;
  color: #fff;  
}

.modo-escuro aside ul li:hover {
  background-color: #ddd;
  color: #333;
}

.modo-escuro .info-left, .info-left-img {
  color: #000;
}

.modo-escuro .formCadastro{
  color: #fff;
  background-color: #333;
}

.modo-escuro header {
  background-color: #333;
}

.modo-escuro .menu a {
  color: #fff;  

}

/* Fim do modo Escuro */

a:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 87.5rem; /* Defina a largura máxima desejada */
  margin-right: auto;
  margin-left: auto;
}

main {
  transition: transform 0.3s ease; /* Adiciona uma transição suave para a animação */
}

main section {
  margin-left: auto;
  margin-right: auto;
}

/* Começo do Css do Header */

header {
  width: 100%;
  display: flex;
  /* border-bottom: 1px solid #E7E6E6;  */
  box-shadow: 0.3rem 0.13rem 0.3rem rgba(0, 0, 0, 0.2);
  margin-bottom: 0.9rem;
  background-color: #E7E6E6;
}

#logo {
  width: auto;
  height: 4rem;   
}

header div {
  height: 12vh;
  padding: 02rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  
}

header button {
  display: flex;
  cursor: pointer;
  border: none;
}


.btn-icone {
  width: 1.87rem;
  height: 1.87rem;
  margin: 0.62rem;
}

.nav-list > ul {
  display: flex;
  gap: 0.62rem; 
  
}

.menu li {
  margin: 0.62rem;
  padding: 0.62rem;
  transition: opacity 0.3s ease; 
  list-style: none;
}

.menu a {
  font-size: 1.12rem;
  font-weight: bolder;
  color: #333;
  transition: color 0.3s, text-shadow 0.3s, background-color 0.3s, padding 0.3s, border-radius 0.3s;
  padding: 0.62rem;
  border-radius: 0.3rem;
  position: relative;
}

.menu a:hover {
  text-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
  padding: 0.62rem;
  border-radius: 0.3rem;
  position: relative;
}

.menu a:hover::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.13rem;
  background-color: #EA167B;
  animation: expand 0.5s ease-in-out; /* Adiciona uma animação suave */
}

@keyframes expand {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.logo-pequeno {
  display: none;
}

/* Menu hamburguer */

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

/* Fim menu Hamburguer */

section {
  text-align: center;
  margin-bottom: 1.87rem;
}


/* Começo container slide */ 

.slider {
  width: 100%;  
  margin-bottom: 1.25rem;
 }


/* Fim container slide */ 

/* Animação imagens */
.corpo-img {
  padding: 0.62rem;
  background-color: transparent;
}

.corpo-img :hover {
  transform: scale(1.02);
  transition: 0.3s
}


/* Começo do footer  */

footer {
  padding: 0.62rem 0 ;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  background: #E7E6E6; 
  background-color: #333; /* Fundo escuro para o rodapé */
  color: #fff; /* Texto branco no rodapé */
}

.limite-largura {
width: 95%;
max-width: 1400px;
display: flex;
justify-content: space-around;
}

.rodape-conteudo2 {
  width: 50%;
  text-align: center;

}

.rodape-info > ul > li{
  margin-bottom: 0.4rem;
  list-style: none;
}

.rodape-logo > img {
  width: auto;
  height: 6.25rem;  
  margin-top: 0.62rem;
}

.rodape-conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 0.62rem;
}

.rodape-midias > h3 {
  font-weight: 300; 
}

.rodape-midias > ul {  
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.rodape-midias img {
  height: 2rem;
}

.rodape-badges > ul {  
  list-style: none;
  display: flex;
  justify-content: space-evenly; 
}

.rodape-badges img {
  height: 2.5rem;
}


@media screen and (max-width: 50rem) {
  body {
    font-size: 0.87rem;
  } 

  .slider {
    display: none;
  }

  header {
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* justify-content: center; */
    position: relative; /* Adiciona posicionamento relativo */
  }

  .nav-bar {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem ; 
}
  
  
  .nav-item, .logo-grande {
      display: none;
  }

  .logo-pequeno img {
    width: 3rem;
  }

  .mobile-menu-icon, .logo-pequeno {
    display: block;
}

  .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-top: 2rem;
      z-index: 11;
      position: relative;
    }    

  .mobile-menu ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 0.4rem;
      background-color: #585858;
      z-index: 10;
      transition: transform 0.3s ease; /* Adiciona uma transição suave para a abertura e fechamento do menu */
  }

  .mobile-menu .nav-item {
      display: block;
      padding-top: 1rem;
  }

/*   .mobile-menu {
    display: none;
    position: absolute; 
    top: 100%; 
    left: 0;
    width: 100%; 
    z-index: 10;
    transition: transform 0.3s ease;
    transform: translateY(-100%);
  } */

  .mobile-menu {
    display: none;
    position: fixed; /* Alterado para 'fixed' para manter o menu fixo na tela */
    top: 0; /* Posiciona o menu no topo da tela */
    left: 0; /* Posiciona o menu no canto esquerdo da tela */
    width: 100%; /* Define a largura do menu como 100% da largura da tela */
    /* height: 100vh; */ /* Define a altura do menu como 100% da altura da tela */
    background-color: #585858;
    z-index: 10;
    transition: transform 0.3s ease;
    transform: translateY(-100%); /* Inicialmente oculta o menu acima da tela */
}
  
  .mobile-menu.open {
    display: block;
    transform: translateY(0);
  }

  .modo-claro {
    display: none;
    transform: translateX(0); /* Move o menu para a posição normal quando aberto */
  }
  
 .container {
    width: 90%;
    padding: 1rem;
  }

 .footer { 
  width: 100%; 
}

.limite-largura { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: 0.62rem; 
  margin: 0.62rem;
}

.rodape-logo { 
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 0.62rem;
  }

.rodape-logo > img { 
  width: 18.75rem; 
  height: auto; 
  margin: 0 auto; 
}

.rodape-conteudo { 
  width: 100%; 
  margin: 0.62rem; 
 }
}