* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-verde: #438146;
  --color-rosa:#EA167B;
  --main-bg-color:#E7E6E6;
  --text-msg-erro: #e65100;
}

.limitar-secao {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;  
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  align-items: center;

  color: #333; /* Cor principal do texto */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.modo-claro {
  background-color: #fff;
  color: #000;
}

.modo-escuro {
  background-color: #3b3b3b;
  color: #fff;  
}

a:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1400px; /* Defina a largura máxima desejada */
  margin-right: auto;
  margin-left: auto;
}

main section {
  margin-left: auto;
  margin-right: auto;
}

/* Começo do Css do Header */

header {
  display: flex;
  
}

#logo {
  width: auto;
  height: 100px;   
}

header div {
  height: 15vh;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

header button {
  display: flex;
  cursor: pointer;
  border: none;
}


.btn-icone {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.menu-container > ul {
  display: flex;
  gap: 10px; 
  
}

.menu li {
  margin: 10px;
  padding: 10px;
  transition: opacity 0.3s ease; 
  list-style: none;
}

.menu a {
  font-size: 18px;
  font-weight: bolder;
  color: #7CC92A;
  transition: color 0.3s, text-shadow 0.3s, background-color 0.3s, padding 0.3s, border-radius 0.3s;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.menu a:hover {
  text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.menu a:hover::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #EA167B;
  animation: expand 0.5s ease-in-out; /* Adiciona uma animação suave */
}

@keyframes expand {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

section {
  text-align: center;
  margin-bottom: 30px;
}


/* Começo container slide */ 

.slider {
  width: 100%;  
  margin-bottom: 20px;
 }
/* Fim container slide */ 

/* Animação imagens */
.corpo-img {
  padding: 10px;
  background-color: transparent;
}

.corpo-img :hover {
  transform: scale(1.02);
  transition: 0.3s
}


/* Começo do footer  */

footer {
  /* margin: 20px 0 20px; */
  padding: 10px 0 ;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100%;/* 
  height: 20vh; */
  background: #E7E6E6; 

  background-color: #333; /* Fundo escuro para o rodapé */
  color: #fff; /* Texto branco no rodapé */
}

.limite-largura {
width: 95%;
max-width: 1400px;
display: flex;
justify-content: space-around;
}

.rodape-conteudo2 {
  width: 50%;
  text-align: center;
  /* display: flex;   
  justify-content: space-around;
  gap: 50px; */
  /* border: 1px blue solid; */
}

.rodape-info > ul > li{
  margin-bottom: 0.4rem;
  list-style: none;
}

.rodape-logo > img {
  width: auto;
  height: 100px;  
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

.rodape-conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
}

.rodape-midias > h3 {
  font-weight: 300; 
}

.rodape-midias > ul {  
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.rodape-midias img {
  height: 2rem;
}

.rodape-badges > ul {  
  list-style: none;
  display: flex;
  justify-content: space-evenly; 
}

.rodape-badges img {
  height: 2.5rem;
}



/* @media screen and (max-width: 800px) { 
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }

  header {
    display: none;
  }

  .container-banner {
    display: none;
  }

  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  }

  .slider {
    display: none;
  }

  footer {
    width: 100%;
  }
  
  .limite-largura {
    display: flex;
    flex-direction: column;
  }
  
  .rodape-logo {
  margin: 0 auto;    
  }
  
  .rodape-logo > img {
  width: 300px;
  height: auto;
  border: 1px solid red;
  padding: 15px;
  } 
  
  .rodape-conteudo {
    width: 100%;
  }  
  
} */

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  } 

  header, .slider {
    display: none;
  }

  .container {
    width: 90%;
    padding: 15px;
  }

 .footer { 
  width: 100%; 
}

.limite-largura { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: 10px; 
  margin: 10px;
}

.rodape-logo { 
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 10px;
  }

.rodape-logo > img { 
  width: 300px; 
  height: auto; 
  margin: 0 auto; 
}

.rodape-conteudo { 
  width: 100%; 
  margin: 10px; 
 }
}