 @import url(./global.css);

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;  
  height: 100%;
  margin: 3.12rem auto;
}

#logo {
  width: auto;
  height: 11.87rem; 
}

.formLogin {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 7px;
  padding: 1.87rem;
  box-shadow: 0.62rem 0.62rem 2.5rem rgba(0, 0, 0, 0.4);
  gap: 5px;  
}

.formLogin p {
  display: inline-block;
  font-size: 14px;
  color: #666;
  margin-bottom: 1.56rem;
}

.formLogin input {
  padding: 0.93rem;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 1.25rem;
  margin-top: 5px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
}


.formLogin input:focus {
  border: 1px solid #f72585;
}

.formLogin label {
  font-size: 14px;
  font-weight: 600;
}

.formLogin a {
  display: inline-block;
  margin-bottom: 1.25rem;
  font-size: 13px;
  color: #555;
  transition: all linear 160ms;
}

.formLogin a:hover {
  color: #f72585;
}

div button {
  width: 100%;
}

.btn {
  padding: 0.93rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background: #d436a4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6e1144, #9a357c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cb0a74, #a73785); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-color: #f72585; */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 0 !important;

}

.btn:hover {
  transform: scale(1.03);
  transition: 0.3s;
  background: #f953c6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b12d76, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.btn-cadastrar {
  padding: 0.93rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin: 0.62rem 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 0 !important;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1ccf61, #115d56);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1dbc5a, #096059); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.btn-cadastrar:hover {
  transform: scale(1.03);
  transition: 0.3s;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  

/* ----- Estilos dinâmicos ----- */

/* Estilos para indicar erro */
input.error {
  border: 2px solid #d9534f;
  background-color: #f2dede;
  color: #a94442;
}

.error {
  border: 2px solid #d9534f;
  background-color: #f2dede;
  color: #a94442;
}

/* Estilos para indicar sucesso ou correção */
input.correct {
  border: 2px solid #5cb85c;
  background-color: #5cb85c;
  color: #4cae4c;
}

.correct {
  /* border: 2px solid #5cb85c; */
  background-color: #5cb85c;;
  color: #4cae4c;
}

/* Estilos para texto de erro */
.error-text {
  display: none;  
}

#senha-error, #usuario-error{
  display: none;
  font-size: 0.8rem;
  font-weight: 600;
  color: #a94442;
  margin-top: -1.25rem;
 }

/* Estilos para tornar o texto de erro visível */
.visible {
  display: block;
}


@media screen and (max-width: 800px) { 
  .container {
    width: 70%;
    /* border: 1px solid red; */
  }

  .page {
    width: 40%;
    height: 100%;
    border: 1px solid red;

  }

}