@import url(./global.css);

/* Começo container informação  */

.container-informacao {
  width: 100%;
  padding: 50px;
}

.container-informacao h3 {
  color: #EA167B;
}

.container-informacao p {
  background-color: #E7E6E6;
  padding: 50px;
  width: 100%;
}



/* Começo container img  */

.container-img {
  display: flex;
  width: 100%;
  height: 350px;
}

.container-left {
  width: 50%;
  background-color: #E7E6E6;

}

.container-right {
  width: 50%;

}

.container-right > img {
  width: 450px;
  
}


.container-img2 h3{
  color: #EA167B;
}

.container-img2 p{
  background:#E7E6E6;
}

.coluna50p-esquerda {
  width: 50%;
  float: left;
}

.coluna50p-direita {
  width: 50%;
  float: left;
}

/* começo div esquerda e direita */

.coluna-esquerda {
  width: 33%;
  float: left;
}

.coluna-esquerda b{
  color: #EA167B;
}

.coluna-meio {
  width: 33%;
  float: left;
}

.coluna-meio b{
  color: #EA167B;
}

.coluna-direita {
  width: 33%;
  float: left;
}

.coluna-direita b {
  color: #EA167B;
}

/* fim div esquerda e direita */