@import url(./global.css);

/* Começo container informação  */

.container-informacao {
  width: 100%;
  padding: 1.25rem;
  margin: 1.25rem auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.container-informacao h3 {
  color: #EA167B;
}

.seta {
  display: flex;
  /* align-items: center; */
  margin: 1.25rem auto;
}

.seta span{
  color: #7CC92A;
  font-size: 2.18rem;
}

.container-informacao p {
  background-color: #E7E6E6;
  padding: 1.25rem;
  width: 80%;
  font-size: 1.25rem;
  border-radius: 0.62rem;
  margin: 1.25rem auto;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);

}



/* Começo container img  */

.container-imagem {
  display: flex;
  width: 90%;
  height: auto;
}

.container-left {
  width:50%;
  height: auto;
  font-size: 1.25rem;
  background-color: #E7E6E6;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.62rem;
  padding: 1.87rem;
}

.container-right {
  width: 50%;
  padding: 1.25rem;

}

.container-right > img {
  width:12.5rem;
  height: auto;  
}

.container-informacao-2 h2{
  color: #EA167B;
  font-size: 1.25rem;
}

.container-informacao-2 p {
  background-color: #E7E6E6;
  padding: 1.25rem;
  width: 80%;
  font-size: 1.25rem;
  border-radius: 0.62rem;
  margin: 1.25rem auto;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
}

.container-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Adicionado position relative para posição absoluta dos pseudo-elementos */
}

.step {
  border: solid;
  padding: 0.62rem;
  margin: 0.62rem;
  width: 30%; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  position: relative; /* Adicionado position relative para posição absoluta dos pseudo-elementos */   
}

.step h3 {
  color: #EA167B;
  margin: 0.93rem auto;
}

.step p {
  font-size: 1rem;
}
.number {
  background-color: blue;
  color: white;
  border-radius: 50%;
  padding: 0.93rem;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  width: 15%;
}

@media screen and (max-width: 800px) { 
 
  .container-imagem {
    display: flex;
    flex-direction: column;
  }

  .container-right {
    width: 90%;
    font-size: 1.12rem;
  }
  .container-left {
    width: 90%;
    font-size: 1.12rem;
  }

  .container-step {
    display: flex;
    flex-direction: column;
  }

  .step {
    width: 90%;
    font-size: 14px;

  }
}


