@import url(./global.css);

.container-info { 
  display: flex;  
  justify-content: space-evenly;
  width: 100%;
  padding: 50px;
}

.card-info {
  text-align: center;
  margin: 10px;
  padding: 20px 10px;
  width: 200px;
  background-color: #E7E6E6;
  font-family: poppins, sans-serif;  
  color: #EA167B;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.card-info span {
  font-weight: bold;
}

section > h4 {
  font-weight: 400;
  padding: 20px;
}

.card-info p {
  color: #000;
}
/* Fim container Card */ 

.container-video {
  display: flex;
  width: 95%;    
  height: 300px;
}

.info-left {
  width: 50%;
  background-color: #E7E6E6;
  border-radius: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-left p {
  margin: 40px;
}

.info-right {
 align-items: center;
 width: 50%;
}

.info-right embed {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0 5px 5px 0;
} 

/* Fim container video */ 

.container-contador {
display: flex;
flex-direction: column;
align-items: center;
}

.contador-title {
  color: #EA167B;
}

/* Fim container Contador */ 
.container-img {
  display: flex;
  width: 95%;    
  height: 600px;
}

.info-left-img {
  width: 75%;
  background-color: #E7E6E6;
  border-radius: 5px 0 0 5px;
}

.info-left-img h2 {
  margin: 20px;
}

.info-left-img p {
  margin: 40px;
}


.info-right img {
  width: 100%;
  height: 100%;
  /* object-fit: sticky;  */ 
  border-radius: 0 5px 5px 0;
} 

/* Começo do container detalhes  */

.container-detalhes h1 {
  margin: 10px;
}

.lista {
  text-align: center;/* 
  margin-left: 150px; */
}

.lista ol {
  /* align-items: start; */
  list-style: decimal inside;
}

/* .lista li {
  text-align: start  ;
}
 */


 

/* Começo do footer  */

footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  background: #E7E6E6; 
}

.limite-largura {
width: 95%;
display: flex;
justify-content: space-around;
}

.rodape-conteudo {
  width: 50%;   
}

.rodape-info > ul > li{
  margin-bottom: 5px;
  list-style: none;
}

.rodape-logo > img {
  width: 55%;  
  height: 120px;
  margin-bottom: 10px;
}

.rodape-conteudo {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
}

.rodape-midias > h3 {
  font-weight: 300; 
}

.rodape-midias > ul {  
  list-style: none;
  display: flex;
  justify-content: center;
}

.rodape-midias img {
  height: 3.5rem;
}

.rodape-badges > ul {
  list-style: none;
  display: flex;
  justify-content: center; 
}

.rodape-badges img {
  height: 5rem;
}
