@import url(./global.css);

.container-info { 
  display: flex;  
  justify-content: space-evenly;
  width: 100%;
}

.card-info {
  text-align: center;
  padding: 1.25rem 0.62rem;
  width: 12.5rem;
  background-color: #E7E6E6;
  font-family: poppins, sans-serif;  
  color: #EA167B;
  border-radius: 0.62rem;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
}

.card-info span {
  font-weight: bold;
}

section > h4 {
  font-weight: 400;
  padding: 1.25rem;
}

.card-info p {
  color: #000;
}
/* Fim container Card */ 

.container-video {
  display: flex;
  width: 95%;    
  height: 18.75rem;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
}

.info-left {
  width: 50%;
  background-color: #E7E6E6;
  border-radius: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-left p {
  margin: 2.5rem;
}

.info-right {
 align-items: center;
 width: 50%;
}

.info-right embed {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0 5px 5px 0;
} 

/* Fim container video */ 

.container-contador {
display: flex;
flex-direction: column;
align-items: center;

}

.container__contador > .card-info {
  text-align: center;
  padding: 1.25rem 0.62rem;
  width: 12.5rem;
  background-color: #E7E6E6;
  font-family: poppins, sans-serif;  
  color: #EA167B;
  border-radius: 0.62rem;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);

}

.contador-title {
  color: #EA167B;
  margin: 1.25rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
}

.paragrafo {
  margin-top: 1.25rem;
}

/* Fim container Contador */ 
.container-img {
  display: flex;
  width: 95%;    
  height: 37.5rem;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
}

.info-left-img {
  width: 75%;
  background-color: #E7E6E6;
  border-radius: 5px 0 0 5px;
}

.info-left-img h2 {
  margin: 1.25rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
}

.info-left-img p {
  margin: 2.5rem;
}


.info-right img {
  width: 100%;
  height: 100%;
  /* object-fit: sticky;  */ 
  border-radius: 0 5px 5px 0;
} 

/* Começo do container detalhes  */

.container-detalhes h1 {
  margin: 0.62rem;
}

.lista {
  text-align: center;/* 
  margin-left: 13.12rem; */
}

.lista ol {
  /* align-items: start; */
  list-style: decimal inside;
}



@media screen and (max-width: 800px) { 

  .container-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
  }
 
  .card-info {
    width: 90%; 
    align-items: center;
    padding: 1.25rem 0.62rem;
    margin: 0.62rem;
}

  .container-video {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    margin: 0.62rem;
  }

  .info-left, .info-right {
    width: 100%;
  }

  .info-right embed {
    width: 100%;
    height: auto; 
    object-fit: contain;
  }

  .container__contador {
    width: 100%; 
    text-align: center;

    .card-info {
      width: 90%;
      padding: 1.25rem 0.62rem;
      margin: 0.62rem;
    }

  } 
 

  .container-img {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;

    .info-left-img {
      width: 100%;
    }
  }

  .container-detalhes {
    width: 100%;
    display: flex;
    flex-direction: column;
  }


}
