@import url(./global.css);

.container-title {
  padding: 0 5rem;
}

.container-parceiros {
width: 80%;
background-color: #E7E6E6;
border-radius: 5px;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

}

.container-parceiros div {
  display: flex;
  justify-content: space-around;
  padding: 1.25rem 0 1.25rem;
}

.container-parceiros div img {
  width: 12em;
  opacity: 0.4;
  padding: 0.62rem;
}


.container-parceiros div img:hover {
  transition: 0.3s !important;
  transform: scale(1.03) !important;
  opacity: 1 !important;
}

.container-btn {
  margin: auto;
  width: 50%;
  padding: 1rem;    
}

section h1{
color: #EA167B;
}

.btn-cadastrar {
  width: 100%;
  padding: 0.93rem;
  border: 1px solid #ccc;
  margin-bottom: 1.25rem;
  margin-top: 5px;
  border-radius: 4px;
  outline: none;
  background: #d436a4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6e1144, #9a357c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cb0a74, #a73785); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 0 !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.btn-cadastrar:hover {
  transform: scale(1.03);
  transition: 0.3s;
  background: #f953c6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b12d76, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.step-1 {
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: black;
  width: 50%;
  border-radius: 1rem;
}


@media screen and (max-width: 800px) { 
 .container-title {
  width: 95%;
  padding: 1.25rem;
  font-size: 14px;
 } 
.container-parceiros div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-btn{
  width: 95%;
  font-size: 14px;
}

.btn {
  font-size: 14px;
}
  
}
