@import url(./global.css);
@import url(./doacao-doador.css);

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex: 1;
  height: fit-content;
  position: relative; /* Adiciona posicionamento relativo */
}

section {
  flex: 1;
}

/* header, footer {
  flex: 0 0 auto; 
}
 */


aside {
  text-align: center;
  position: fixed;
  width: 18rem;
  height: auto;
  /* background-color: #f0f0f0; */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  margin-right: auto; /* Alinha à esquerda */
  left: 0;
  border-radius: 0.5rem;
}

aside > div {
  padding: 1.25rem;
}

aside img {
  width: 9rem;
  height: auto;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  border: 1px solid #333;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul a {
  text-decoration: none;
  color: #333;
}

aside ul li {
  padding: 10px 20px;
  transition: background-color 0.3s;
}

aside ul li:hover {
  background-color: #ddd;
}
