 @import url(./global.css);


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.podium {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 3rem;
}

main ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  position: relative;
}

main li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.15rem;
  margin: min(30%, 5rem);  
}

main li img {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  padding: 0.1rem;
  transition: scale 0.3s;
}

main li img:hover {
  scale: 1.08;
}

main li:nth-child(1) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 8.5rem;
  height: 8.5rem;
  z-index: 2;
  margin: unset;
}

main li p {
  font-size: 0.9rem;
  font-weight: 700;  
}

main li span {
  font-size: 1.5rem;
  color: black;
}

main .posicao-top {
  /* border: 0.2rem solid #EA167B; */
  border-radius: 50%;
  padding: .5em;
}

/* main #crown {
  width: 2rem;
  height: 2rem;
  border: unset;
  padding: unset;

  -webkit-animation: crown-animation 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: crown-animation 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 */

main .revenue {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 1.5rem;
}

section span {
  font-size: 1.1rem;  
}

section h1 {
  margin: 1em;
}

section ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: min(22rem, 25rem);
}

section li {
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1ccf61, #115d56);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1dbc5a, #096059); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  display: flex;  
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  transition: background-color 0.3s;
}

section li:hover {
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}

section li span:first-child {
  font-size: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

section li img {
  display: none;
}

section li p {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  word-break: break-all;
  color: #fff;
}

section li span:last-child {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  width: min(30%, 20rem);
}

@media (min-width: 37.5rem) {
  section ul {
    width: 90%;
  }

  section li img {
    display: flex;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
  }

  section li p {
    min-width: 20rem;
  }
}



/* Animações */

@-webkit-keyframes crown-animation {
  0% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes crown-animation {
  0% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

