.slider {  
  margin: 0 auto;
  width: 80%;
  height: 400px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.slides {
  width: 400%;
  height: 25rem;
  display: flex;
}


.slides input {
  display: none;
}


.slide {
  width: 25%;
  position: relative;
  /* transition: 0.8s; */
}


.slide img {
  width: auto;
  height: 25rem;
  border-radius: 0.62rem;
}

.manual-navigation {
  position: absolute;
  width: 50rem;
  margin-top: -2.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 0.13rem solid #EA167B;
  padding: 0.3rem;
  border-radius: 0.62rem;
  cursor: pointer;
  transition: 0.5s;
} 

.manual-btn:not(:last-child){
  margin-right: 2.5rem;
}

.manual-btn:hover {
  background-color: #EA167B;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto div{
  border: 0.13rem solid rgb(114, 228, 160);
  padding: 0.3rem;
  border-radius: 0.62rem;
  cursor: pointer;
  transition: 0.5s;
}

.navigation-auto{
  position: absolute;
  width: 50rem;
  margin-top: 22.5rem;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation-auto div:not(:last-child){
  margin-right: 2.5rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #EA167B;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #EA167B;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #EA167B;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #EA167B;
}

@media screen and (max-width: 50rem) {
  .slider {  
    margin: 0 auto;
    width: 80%;
    height: auto; /* Alterado para altura automática */
    max-height: 28rem; /* Aumentando um pouco a altura */
    overflow: hidden;
    margin-bottom: 2rem;
  }
  
  .slides {
    width: 400%; /* Mantido */
    height: auto; /* Alterado para altura automática */
    max-height: 28rem; /* Aumentando um pouco a altura */
    display: flex;
  }
  
  .slide {
    width: 25%; /* Mantido */
    height: auto; /* Alterado para altura automática */
    max-height: 28rem; /* Aumentando um pouco a altura */
    position: relative;
  }
  
  .slide img {
    width: 110%; /* Aumentando um pouco a largura */
    height: auto; /* Mantendo altura automática */
    max-height: 28rem; /* Aumentando um pouco a altura */
    border-radius: 0.62rem;
  }
  
  .manual-navigation {
    position: absolute;
    width: 100%; /* Alterado para largura de 100% */
    margin-top: 23rem; /* Ajustando margem superior */
    left: 0; /* Ajustado para a esquerda */
    right: 0; /* Ajustado para a direita */
    display: flex;
    justify-content: center;
  }
  
  .navigation-auto {
    position: absolute;
    width: 100%; /* Alterado para largura de 100% */
    margin-top: 25rem; /* Ajustando margem superior */
    left: 0; /* Ajustado para a esquerda */
    right: 0; /* Ajustado para a direita */
    display: flex;
    justify-content: center;
  }
}



