section {
  margin-left: auto;
  margin-right: auto;
}

.container-card div {
  padding: 1rem;
  margin: 0 auto;
}


.criadores {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 50rem) { 

  .container {
    width: 100%;
  }
  .criadores {
    display: flex;
    flex-direction: column;
  }
}