* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  font-family: poppins, sans-serif;
  width: 100%;
  height: 100vh;
}

.container {
  border: 1px solid red;
  max-width: 1400px; /* Defina a largura máxima desejada */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}

/* Começo do Css do Header */

header {
  padding: 15px 0;
  margin: 10px;
  text-align: center;
  color: rgb(14, 14, 14);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: 100%;
}

#logo {
  width: 20%;
  
}

.menu-container > ul {
  display: flex;
  gap: 10px; 
  
}

.menu li {
  margin: 10px;
  padding: 10px;
  transition: opacity 0.3s ease 
}

.menu a {
  font-size: 18px ;
  font-weight: bolder;
  color: #7CC92A;
}

.menu a:hover {
  transition: opacity 0.3s;
  color: #EA167B;
}


/* Fim do Css do Header */

.container-banner {
  display: flex;
  flex-direction: column;
  margin: auto; 
  width: 95%;
  height: 320px;  
  position: relative;
}

section {
  text-align: center;
}

.banner {
  width: 100%;
  height: 85%;  
}

.banner img {
  width: 100%; 
  height: 100%; 
  border-radius: 5px;    
}

/* Fim do Header */ 

.container-info { 
  display: flex;  
  justify-content: space-evenly;
  width: 100%;
}

.card-info {
  text-align: center;
  margin: 10px;
  padding: 20px 10px;
  width: 200px;
  background-color: #E7E6E6;
  font-family: poppins, sans-serif;  
  color: #EA167B;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.card-info span {
  font-weight: bold;
}

section > h4 {
  font-weight: 400;
  padding: 20px;
}

.card-info p {
  color: #000;
}


/* Fim container Banner */ 





/* Começo do footer  */



footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #E7E6E6;
  
}

.limite-largura {
border: 1px blue solid;
width: 95%;
display: flex;
justify-content: space-evenly;
}

.rodape-conteudo {
  width: 45%;
  
}

.rodape-logo > img{
  width: 50%;  
  height: 100px;
  margin: 10px;
  border: 1px red solid;
}

.rodape-conteudo {
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
}


.rodape-icons > ul{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.rodape-badges > ul {
  display: flex;
  justify-content: space-around;
}

